<div class="container-fluid border-0 no-gutters" role="main">
  <!-- Toolbar -->
  <div class="toolbar" role="nav">
    <div class="row justify-content-center">
      <div class="col-10 justify-content-center d-flex pt-2">
        <img class="logo" src="/assets/images/Logo/png/BlackNoBg.png" alt="Black Logo" />
      </div>
      <div class="col-2 d-flex align-items-center justify-content-begin pt-2">
        <a href="/" class="btn btn-outline-dark">
          Home
        </a>
      </div>
    </div>
  </div>


  <router-outlet></router-outlet>

</div>
